body {
    background-color: rgb(216, 186, 212);
}


#header{
    text-align: center;
    font-size:50px;
}

#box {
    height: 300px;
    width: 400 px;
    background-color:rgba(233, 178, 146, 0.582);
    position: absolute;
    top: 20%;
    left: 38%;
    border-radius: 10px;
    border: 2px solid rgba(255, 28, 28, 0.904);
    box-shadow: 0 0 0 10px rgb(0, 0, 0);
    padding: 50px 35px;
}

#display {
    
    height: 50px;
    width: 95%;
    background: rgba(167, 16, 122, 0.884);
    border-radius: 3px;
    padding: 0 10px;
    font-size: 14px;
    text-align: right;
 }

 .button {
    width: 42px;
    height: 42px;
    background: rgba(19, 206, 44, 0.829);
    border-radius: 3px;
    border-color: green;
    font-size: 14px;
    font-weight: 300;
    margin: 16px 13px 0 0 ;
    box-shadow: yellowgreen;
    border-width: 1px;
}