
a:hover{
    background-color:cyan;
}
#v{
margin-left: 600px;
margin-top: 20px;
width:250px;
}

body{
    background-image:url("https://media.istockphoto.com/photos/textured-dark-vignette-black-background-picture-id675020930?b=1&k=20&m=675020930&s=170667a&w=0&h=ffR2ND9iD6jwBSuf3G_KKKrtd-i89SuMBJpLe-roYb0=");
    background-position: fixed;
    background-attachment: fixed;
    opacity:80%;
    
}
    
label{
    color: rgb(10, 24, 216);
}

.main{
    
    width:60%;
    margin-left: 200px;
    height: 100vh;
     opacity:90%;

    

    
}
form{
      margin:60px 200px;  
     padding:15px;
     width:400px;
     
     height:90vh;
     color:white;
     position:fixed;
      }
#btn{
    margin: 20px 70px;
    position: absolute;
    width:100px;
    border-radius: 5px;
    font-size: 20px;
    background-color:cyan;
    color:tomato;
}
#btn:hover{
    color:wheat;
}

#btn1{
    margin: 20px 200px;
    position: absolute;
    width:90;
    border-radius: 5px;
    font-size: 20px;
    background-color:cyan;
    color:tomato;

}
#btn1:hover{
    color:wheat;
}
    #name{
        width:120%;
        height:4vh;

    }
    #gmail{
        width:120%;
        height:4vh;
    }
    #mb{
        width:120%;
        height:4vh;
    }
    #pass{
        width:120%;
        height:4vh;
    }
    #adr{
        width:120%;
        height:4vh;
    }
    .select{
        width:120%;
        height:4vh
    }
    #tx{
        width:120%;
    }
    #chk{
        margin-left: 60px;
    }
    